.sidebarcontainer {
  width: 300px;
  background-color: #335d51;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: var(--nav-height);
  left: 0px;
  overflow: scroll;
  z-index: 0;
}

.singlefiltercontainer {
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  gap: var(--padding-light);
  border-bottom: 2px solid white;
}

.filterrow {
  display: flex;
  gap: var(--padding-light);
}

.projectsviewcontainer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-main);
  padding: var(--padding-main);
  margin-left: 300px;
  width: 100%;
}

.projectsviewcontainerheading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.marketplaceprojectscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  width: 100%;
  max-width: 100%;
}

.searchbarcontainer {
  display: flex;
  gap: 40px;
}

.filterIcon {
  width: fit-content;
  display: none;
}

.createButton {
  width: 200px;
}

@media screen and (max-width: 1350px) {
  .projectsviewcontainerheading {
    font-size: 1.5rem;
  }
  .marketplaceprojectscontainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .projectsviewcontainer {
    margin: 0px;
  }
  .sidebarcontainer {
    display: none;
  }

  .filterIcon {
    display: inline;
  }
}
@media screen and (max-width: 700px) {
  .marketplaceprojectscontainer {
    grid-template-columns: 1fr;
  }
  .createButton p {
    display: none;
  }
  .createButton {
    width: 50px;
  }
  .searchbarcontainer {
    gap: 10px;
  }
}
