.sidebarcontainer {
  width: 180px;
  background-color: #335d51;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: var(--nav-height);
  left: 0px;
  overflow-y: scroll;
  z-index: 0;
}
.singlefiltercontainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--padding-light);
  border-bottom: 2px solid white;
}
.filterrow {
  display: flex;
  gap: var(--padding-light);
}
.projectsviewcontainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: var(--padding-main);
  margin-left: 180px;
  width: 100%;
}
.projectsviewcontainerheading {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
}
.marketplaceprojectscontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}
.searchbarcontainer {
  display: flex;
  gap: 10px;
}
.filterIcon {
  width: fit-content;
  display: none;
}
.marketplacecreateButton {
  width: 277px;
  border-radius: var(--border-radius-light);
  background: var(--green-110);
  border: none;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  height: 50px;
  font-family: "Fira sans";
}
.marketplacesearchbar {
  border-radius: var(--border-radius-light);
}
.marketplacecreateButton .mobile {
  display: none;
}
@media screen and (max-width: 1300px) {
  .marketplaceprojectscontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .marketplaceprojectscontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projectsviewcontainerheading {
    font-size: 1.5rem;
  }
  .marketplaceprojectscontainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .projectsviewcontainer {
    margin: 0px;
  }
  .sidebarcontainer {
    display: none;
  }
  .filterIcon {
    display: inline;
  }
}
@media screen and (max-width: 700px) {
  .marketplaceprojectscontainer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .marketplacecreateButton p {
    display: none;
  }
  .marketplacecreateButton {
    width: 50px;
    border-radius: var(--border-radius-big);
    background-color: transparent;
  }
  .marketplacecreateButton .mobile {
    display: block;
    width: 50px;
    height: 50px;
  }
  .marketplacecreateButton .desktop {
    display: none;
  }
  .searchbarcontainer {
    gap: 10px;
  }
  .marketplacesearchbar {
    border-radius: var(--border-radius-big);
  }
}
