.menuitem {
  padding: var(--padding-light);
  text-align: center;
  border-radius: var(--border-radius-light);
}
.menuitem:hover {
  background-color: var(--filter);
  cursor: context-menu;
}

/* .ProjectFormInput input {
  height: 9px;
  border: 2px solid #e6e6e6;
  border-radius: 6px;
} */
