.responsiveDeleteIcon {
  display: none !important;
}
.profileName{
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  .responsiveFlex {
    flex-direction: column;
    gap: 20px !important;
  }

  .responsiveDeleteButton {
    display: none !important;
  }

  .responsiveDeleteIcon {
    display: flex !important;
  }
  .profileName{
  font-size: 1rem;
  margin-bottom: 1rem;
  }
}
