.primarycontainer {
  width: 100%;
  max-width: var(--max-width);

  border-radius: var(--border-radius);

  display: flex;
  position: relative;
  margin: var(--padding-main);
}

.profilepicedit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--filter);
  border-radius: var(--profile-pic-diameter);
}

.profilepicedit:hover {
  display: flex;
}

.orgInfo span {
  font-weight: 700;
}

.orgInfo p {
  padding: 3px;
}

@media only screen and (max-width: 800px) {
  .myNftPage {
    flex-direction: column;
  }

  .myNftPage > div:first-child {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .primarycontainer {
    align-items: center;
  }
  .profileDetails img {
    width: var(--profile-pic-small) !important;
    height: var(--profile-pic-small) !important;
    /* margin-top: -70px !important; */
  }

  .buttonText p {
    display: none;
    align-content: space-evenly;
  }
}

@media only screen and (max-width: 420px) {
  .myNftPage {
    padding: var(--padding-main) !important;
  }

  .myNftPage img {
    width: 100% !important;
  }
}
