.Error-container {
  min-height: var(--min-height-page);
  padding: var(--nav-height) var(--padding-main);
  text-align: center;
  font-family: arial;
  color: var(--green-30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Error-container h1 {
  font-size: 5rem;
}

.Error-container h2 {
  font-size: 3rem;
}

.Error-container p {
  font-size: 2rem;
}
