.aboutsectioncontainer {
  background-color: var(--green-100);
  background-image: var(--bg-green-gradient-vertical);
  min-height: var(--min-height-section);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--padding-main);
  gap: var(--padding-light);
}

.aboutlogocontainer,
.aboutlogocontainermobile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutlogocontainermobile {
  display: none;
}

.aboutlogocontainer img {
  max-width: 100%;
}
.aboutlogocontainermobile img {
  max-width: 50%;
}

.aboutcontentcontainer {
  display: flex;
  flex-direction: column;
  gap: var(--padding-large);
  /* justify-content: space-around; */
  color: var(--text-bright);
  width: 100%;
  max-width: var(--max-width-content);
  text-align: justify;
}

.aboutdescription {
  max-width: 680px;
  line-height: 35px;
  font-size: 1.25rem;
}

.aboutheading {
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
  position: relative;
  margin-left: 5.4rem;
  margin-top: 5.2rem;
}
.aboutheading img {
  position: absolute;
  left: -5rem;
  top: -6.3rem;
}

.bout {
  text-decoration: underline;
  text-decoration-style: double;
}

@media screen and (max-width: 600px) {
  .aboutsectioncontainer {
    display: flex;
    flex-direction: column;
    gap: var(--padding-main);
    background-image: url("../assets/aboutbg.png");
    background-position: center;
    background-size: cover;
  }
  .aboutlogocontainer {
    display: none;
  }
  .aboutlogocontainermobile {
    display: flex;
  }
}
