.projectCardMain {
  width: 100%;
  max-width: 320px;
  height: 420px;
  background-color: #e5e5e5;
  padding: var(--padding-light);
  border-radius: var(--border-radius-light);
  border: 2px solid var(--green-30);
  display: flex;
  flex-direction: column;
  gap: var(--padding-light);
  position: relative;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
}

.projectCardMain:hover {
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projectCardMain img {
  width: 100%;
  height: 175px;
  /* aspect-ratio: var(--image-aspect-ratio); */
  object-fit: cover;
  border-radius: var(--border-radius-light);
  overflow: hidden;
  box-shadow: 0.5px 0.5px 0.5px rgba(83, 83, 83, 0.6);
}
.projectCardMain .projectname {
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}
.projectCardMain .projectlocation {
  color: #174f4f;
  font-weight: bold;
}
.projectCardMain .projectdescription {
  height: 70px;
  overflow: hidden;
  font-size: 14px;
}
.projectCardMain .readmore {
  font-weight: bold;
}
.projectCardMain .projecttags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #0e8e8e;
  font-weight: bold;
}
.projectCardMain .projecttags img {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
.projectCardMain .clickhandler {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 360px;
  width: 100%;
}


@media screen and (max-width: 1300px) {
  .projectCardMain {
  width: 100%;
  max-width: 280px;
  height: 380px;
  background-color: #e5e5e5;
  padding: var(--padding-light);
  border-radius: var(--border-radius-light);
  border: 2px solid var(--green-30);
  display: flex;
  flex-direction: column;
  gap: var(--padding-light);
  position: relative;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
}

}