.projectCard {
  padding: var(--padding-light);
  border-radius: var(--border-radius-light);
  /* width: var(--project-card-width); */
  border: 1px solid transparent;
  background: #e5e5e5;
  box-shadow: 4px 4px 8px 2px #aca3a3;
  cursor: pointer;
}
.projectCard img {
  width: 100%;
  aspect-ratio: var(--image-aspect-ratio);
  object-fit: cover;
  border-radius: var(--border-radius-light);
}
.projectCard:hover {
  box-shadow: 0px 0px 10px 2px black;
}

.projectCard .projectname {
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  color: var(--green-110);
}

.projectLocation {
  color: var(--green-90);
  font-weight: 600;
  padding: 10px 0;
}
.projectCard .projectdescription {
  height: 120px;
  overflow: hidden;
  padding-bottom: 10px;
}
.trxInfo {
  padding: 10px 0;
  font-weight: 600;
  color: var(--green-90);
}
.projectCard .clickhandler {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 360px;
  width: 100%;
}

.locationName {
  text-transform: capitalize;
}
