.contactformcontainer {
  width: 100%;
  max-width: var(--max-width-form);
  min-height: var(--min-height-form);
  background-color: var(--bg-bright);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 0 0 20px 2px var(--shadow-2);
}
.form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-main);
}
.contactHeading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-black);
}
.contactdetails {
  background-color: var(--green-110);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  color: var(--text-bright);
  padding: var(--padding-large);
}
.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.addressContainer {
  line-height: 1rem;
}
.addressContainer div {
  font-size: 14px;
}
.socialcontainer {
  height: 1.6rem;
  width: 27%;
  display: flex;
  gap: var(--padding-large);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 55.19%
  );
}
.telegramIcon {
  height: 1.8rem;
}
.twitter {
  background-color: var(--bg-bright);
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .contactformcontainer {
    box-shadow: none;
    background-color: transparent;
    gap: 2rem;
    /* background: linear-gradient(170.35deg, #375500 0%, #DAE5C5 100%); */
  }
  .contactHeading {
    text-align: center;
    color: white;
  }
  .contactformcontainer .form {
    width: 100%;
    align-items: center;
  }
  .contactformcontainer input,
  .contactformcontainer textarea {
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .contactformcontainer input::placeholder,
  .contactformcontainer textarea::placeholder {
    color: white;
  }
  .contactformcontainer form button {
    margin: auto;
    background-color: white;
    color: var(--green-110);
    box-shadow: none;
  }
  .contactdetails {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    padding: 3rem;
  }
  .socialcontainer {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  .contactformcontainer {
    display: flex;
    flex-direction: column;
    min-height: auto;
  }
}
@media screen and (max-width: 400px) {
  .contactdetails {
    padding: 2rem 1.5rem;
  }
}
.contactformcontainer {
  width: 100%;
  max-width: var(--max-width-form);
  min-height: var(--min-height-form);
  background-color: var(--bg-bright);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 0 0 20px 2px var(--shadow-2);
}
.form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-main);
}
.contactHeading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-black);
}
.contactdetails {
  background-color: var(--green-110);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  color: var(--text-bright);
  padding: var(--padding-large);
}
.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.addressContainer {
  line-height: 1rem;
}
.addressContainer div {
  font-size: 14px;
}
.socialcontainer {
  height: 1.6rem;
  width: 27%;
  display: flex;
  gap: var(--padding-large);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 55.19%
  );
}
.telegramIcon {
  height: 1.8rem;
}
.twitter {
  background-color: var(--bg-bright);
  border-radius: 50%;
}
@media screen and (max-width: 900px) {
  .contactformcontainer {
    box-shadow: none;
    background-color: transparent;
    gap: 2rem;
    /* background: linear-gradient(170.35deg, #375500 0%, #DAE5C5 100%); */
  }
  .contactHeading {
    text-align: center;
    color: white;
  }
  .contactformcontainer .form {
    width: 100%;
    align-items: center;
  }
  .contactformcontainer input,
  .contactformcontainer textarea {
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .contactformcontainer input::placeholder,
  .contactformcontainer textarea::placeholder {
    color: white;
  }
  .contactformcontainer form button {
    margin: auto;
    background-color: white;
    color: var(--green-110);
    box-shadow: none;
  }
  .contactdetails {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    padding: 3rem;
  }
  .socialcontainer {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  .contactformcontainer {
    display: flex;
    flex-direction: column;
    min-height: auto;
  }
}
@media screen and (max-width: 400px) {
  .contactdetails {
    padding: 2rem 1.5rem;
  }
}
