.contactformcontainer {
  width: 100%;
  max-width: var(--max-width-form);
  min-height: var(--min-height-form);
  background-color: var(--bg-bright);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-shadow: 0 0 20px 2px var(--shadow-2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-main);
}

.contactHeading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-black);
}

.contactdetails {
  background-color: var(--green-110);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  color: var(--text-bright);
  padding: var(--padding-large);
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.addressContainer {
  line-height: 1rem;
}

.addressContainer div {
  font-size: 14px;
}

.socialcontainer {
  display: flex;
  gap: var(--padding-large);
  /* background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 55.19%); */
}

.socialIcon {
  height: 2.2rem;
}

@media screen and (max-width: 768px) {
  .contactformcontainer {
    display: flex;
    flex-direction: column;
    min-height: auto;
  }

  .contactHeading {
    text-align: center;
  }

  .form {
    margin: auto;
  }

  .green {
    margin: auto;
  }

  .contactdetails {
    border-radius: 0px 0px 20px 20px;
  }
}

@media screen and (max-width: 400px) {
  .contactdetails {
    padding: 2rem 1.5rem;
  }
}
