.userViewContainer {
  padding: 3rem;
}
.projectDescContainer {
  width: 100%;
  min-height: 450px;
  background-image: url("./unsplash_bYZn_C-RswQ.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0px 20px;
}
.projectTitleContainer {
  width: 400px;
  height: 60px;
  background-color: #bfcca6;
  border-radius: 20px;
  box-shadow: 3px 4px 30px 0px;
  padding: 1rem;
}

.projectDetailsContainer {
  width: 100%;
  min-height: 500px;
  padding: 2rem;
}
.projectDetailsMainBox {
  display: flex;
  width: 100%;
  min-height: 300px;
  margin-top: 3rem;
}
.projectDetailsSubBoxFirst {
  width: 50%;
  border-right: 1px solid rgba(54, 142, 0, 0.3);
  padding: 2rem;
  display: flex;
}

.projectDetailsSubBoxSecond {
  width: 50%;
  padding: 2rem;
  display: flex;
}

.fundingProcessContainer {
  width: 100%;
  min-height: 100px;
  padding: 2rem;
}
.btnsAndPlantImageContainer {
  position: relative;
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./Vector 6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
  /* padding: 2rem; */
}
.buttonContainer {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.progressBtn {
  width: 300px;
  height: 50px;
  background-color: #185a00;
  border-radius: 5px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectDocumentContainer {
  /* position: absolute; */
  top: -10%;
  width: 100%;
  min-height: 500px;
  padding: 2rem;
  background-image: linear-gradient(to top, #0e1213, #08370d);
  border-radius: 0 200px 0px 200px; /* left bottom */
}

.projectGalleryContainer {
  width: 100%;
  background-image: url("./Vector 7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1000px;
  padding: 2rem;
}

.projectOwnerDetailsContainer {
  width: 100%;
  min-height: 700px;
  background-image: linear-gradient(to bottom right, #c4f5c9, #fcfffd);
  border-radius: 200px 0px 200px 0px; /* right top */
  padding: 3rem;
}

.projectOwnerDetails {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  min-height: 600px;
}

.orgDetailsContainer {
  width: 50%;
  border-right: 1px solid rgba(54, 142, 0, 0.3);
  padding: 3rem;
}

.repDetailsContainer {
  width: 50%;
  padding: 3rem;
}

.orgDetailsBox {
  margin-top: 3rem;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #beddc1;
  min-height: 465px;
  display: flex;
}

.orgLabelBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 465px;
  padding: 2rem;
}
.repLabelBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 300px;
  padding: 2rem;
}

.repDetailsBox {
  margin-top: 3rem;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #beddc1;
  min-height: 465px;
  display: flex;
  flex-direction: column;
}

.repProfile {
  width: 100%;
  height: 160px;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.plantImageBox {
  width: 350px;
  background-color: #8c9e6b;
  height: 400px;
  border-radius: 20px;
  padding: 1rem;
  border: 2px solid #59810f;
}
.plantImage {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.plantImageText {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
}
.documentBox {
  width: 180px;
  height: 300px;
  padding: 1rem;
}

.docImage {
  width: 100%;
  height: 200px;
}
.docsText {
  margin-top: 1rem;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  text-align: center;
}

.imagesContainer {
  margin-top: 18rem;
  position: absolute;
  width: 100%;
  min-height: 500px;
}

.projectGalleryTitle {
  margin-top: 5rem;
  font-family: DM Serif Display;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.projectDetailsSubBoxSecondSub {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectDetailsSubBoxFirstSub {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projectDetails2ndMainBox {
  /* width:"100%",
                display:"flex",
                minHeight:"400px",
                padding:"2rem" */
  width: 100%;
  display: flex;
  min-height: 400px;
  padding: 2rem;
}

@media screen and (max-width: 500px) {
  .userViewContainer {
    padding: 0rem;
  }
  .projectDetailsMainBox {
    flex-direction: column;
  }
  .projectDetailsSubBoxFirst {
    width: 100%;
    padding: 1rem;
    border: none;
    gap: "1rem";
  }
  .projectDetailsSubBoxSecond {
    width: 100%;
    padding: 1rem;
  }
  .progressBtn {
    width: 119px;
    height: 35px;
    background-color: #185a00;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonContainer {
    width: 100%;
    margin-top: 2rem;
  }
  .plantImageBox {
    width: 101px;
    height: 150px;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .plantImageText {
    margin-top: 0px;
    font-size: 0.8rem;
    color: white;
    font-weight: 500;
    text-align: center;
  }
  .plantImage {
    border-radius: 10px;
    height: 120px;
  }
  .documentBox {
    width: 80px;
    height: 102px;
    padding: 1rem;
  }

  .docImage {
    width: 100%;
    height: 91px;
  }
  .docsText {
    font-size: 0.8rem;
    color: white;
    font-weight: 500;
    text-align: center;
  }
  .projectDocumentContainer {
    min-height: 300px;
    border-radius: 0 100px 0px 100px; /* left bottom */
  }
  .projectOwnerDetails {
    flex-direction: column;
  }
  .orgDetailsContainer {
    width: 100%;
    padding: 0.5rem;
    border: none;
  }
  .projectOwnerDetailsContainer {
    padding: 0.5rem;
    border-radius: 100px 0px 100px 0px;
  }
  .repDetailsContainer {
    width: 100%;
    padding: 0.3rem;
  }
  .btnsAndPlantImageContainer {
    height: 500px;
  }
  .imagesContainer {
    margin-top: 8rem;
    height: 300px;
    box-shadow: none;
  }
  .projectGalleryContainer {
    min-height: 417px;
  }
  /* .projectGalleryTitle{
    margin-top: 2rem;
} */
  .projectTitleContainer {
    width: 250px;
    height: 50px;
    background-color: #bfcca6;
    border-radius: 20px;
    box-shadow: 3px 4px 30px 0px;
    padding: 2rem;
  }

  .projectGalleryTitle {
    font-family: DM Serif Display;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
  }
  .projectDescContainer {
    border-radius: 0px 0px 0px 0px;
  }

  .projectDetailsSubBoxSecondSub {
    width: 100%;
    gap: 1rem;
  }
  .projectDetails2ndMainBox {
    padding: 1rem;
  }
}
