.landingText {
  font-size: 5rem;
  color: var(--text-bright);
}

.landingdescription {
  color: var(--text-bright);
  text-align: justify;
  width: 100%;
  max-width: var(--max-width-content);
}
