@media screen and (max-width: 1000px) {
  .createButton span {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .projectSidebar {
    display: none;
  }

  .filterIcon {
    display: flex !important;
  }

  .projectMain {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .searchSection {
    margin: var(--padding-main) 0 !important;
    gap: var(--padding-main) !important;
  }

  .mainHeading {
    font-size: 28px;
  }

  .createButton {
    min-width: unset !important;
  }

  .createButton p {
    display: none;
  }

  .createButton span {
    display: block;
    border-width: 2px !important;
    font-size: 700 !important;
  }

  .projectSidebar {
    display: none;
  }

  .projectMain {
    width: 100%;
  }
}
