.navbarTitle {
  width: 33.33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbarTitle img:hover {
  animation: scaleup 0.3s;
}

.navLinksContainer {
  width: 33.33%;
}

.navLinksContainer .navbarLinks {
  text-decoration: none;
  margin: auto;
  margin: 0 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.navLinksContainer .projectLink {
  cursor: default;
  text-decoration: none;
  /* margin: 0 2rem; */
  font-weight: 600;
}

.navbarLinks:hover {
  color: var(--primary);
}
.contactLink:hover {
  color: var(--primary);
}
.contactLink {
  font-size: 1.5rem;
}

.dropdownLinks {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: black;
  margin: 0.5rem 0;
  padding: 8px 10px;
  font-weight: normal;
}

.dropdownLinks:hover {
  background: rgb(244, 244, 244);
}

/* MEDIA QUERY */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .navLinksContainer .navbarLinks,
  .navLinksContainer .projectLink {
    margin: 0 1rem;
  }
}

@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
