.main_body {
  padding: 4vh 9vw;
  background: var(--green-30);
}

.walletMainContainer-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.walletMainContainer-row {
  padding-bottom: 100px;
}

.walletMainContainer-row h3 {
  font-size: 2.5rem;
  color: white;
  font-weight: 1000;
  letter-spacing: 3px;
}

.walletMainContainer-row p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: white;
  margin-top: 0.75rem;
}

.walletMainContainer-row img {
  width: 35vw;
}

.walletMainContainer-row button {
  border-radius: var(--border-radius-light);
  padding: 0.625rem 1.35rem;
  background: #2563eb;
  font-weight: bold;
  margin-top: 1rem;
}

.walletBenefitContainer {
  border-radius: var(--border-radius);
  background: #374151;
  padding: 4vh 5vw;
  margin-top: 5rem;
}

.walletBenefitHead {
  text-align: center;
  margin-bottom: 4rem;
}

.walletBenefitHead h2 {
  color: white;
  margin-bottom: 1rem;
}

.walletBenefitHead p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #99a3af;
}

.walletBenefitContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}

.walletBenefitContentBox:hover {
  transform: scale(0.8);
  transition: transform 0.2s;
}

.walletBenefitContentBox {
  transition: transform 0.2s;
}

.walletBenefitContent div {
  border-radius: var(--border-radius-light);
  padding: 1.5rem 1.5rem;
  box-shadow: 0px 0px 20px 0px;
}

.walletBenefitContentBox h3 {
  font-size: 1.25rem;
}

.boxIconStyle {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 1.5rem;
}

/* wallet download */
.walletDownloadContentBox {
  background: #1f2937;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
}

.walletDownloadContentBox:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
}

.walletDownloadContentBox h3 {
  color: white;
  font-size: 1.25rem;
}

.walletDownloadContentBox button {
  background: #2563eb;
  border-radius: var(--border-radius-light);
  cursor: pointer;
  color: white;
  text-decoration: underline;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  width: fit-content;
}

.walletDownloadContentBox button:hover {
  box-shadow: unset;
  background: #1d59dc;
}

.walletDownloadContentBox img {
  width: 100%;
}

.walletDownloadContentBox button img {
  width: 2rem;
  height: 2rem;
}

.row-content {
  width: 40vw;
}

@media only screen and (max-width: 1024px) {
  .walletBenefitContent {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 771px) {
  .walletMainContainer-row {
    flex-direction: column;
  }

  .first-div {
    order: -1;
  }

  .row-content {
    width: 80%;
  }

  .customImage img {
    width: 75vw;
  }

  .walletBenefitContainer {
    padding: 4vh 2vw;
  }

  .walletBenefitContent {
    gap: 3rem;
  }
}

@media only screen and (max-width: 580px) {
  .walletBenefitContent {
    grid-template-columns: repeat(1, 1fr);
  }
}
