.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding: 0px 7vw;
  height: 100%;
  margin: 10vh 0px;
}

.dashboard-box {
  border: 1px solid white;
  background: white;
  width: 20vw;
  text-align: center;
  min-height: 200px;
  height: 100%;
  box-shadow: 1px 0.2px 12px #aeafae;
  border-radius: 6px;
  padding: 2rem;
}

.dashboard-box p {
  font-size: 4rem;
  color: silver;
  font-weight: 800;
}
