.footercontainerouter {
  font-family: "DM Serif Display", serif;
  background-image: linear-gradient(
    45deg,
    rgba(1, 2, 1, 1),
    rgba(10, 25, 14, 1),
    rgba(22, 53, 29, 1)
  );
  color: var(--text-bright);
}
.footerconatiner {
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding-large) var(--padding-main);
  text-align: center;
  font-size: 1.25rem;
}
.footerconatiner img {
  margin: var(--padding-main);
  width: 80%;
  max-width: 500px;
}

.footersocialcontainer {
  display: flex;
  /* gap: var(--padding-light); */
  align-items: center;
  justify-content: center;
}

.footersocialcontainer img {
  width: 45px;
}

@media screen and (max-width: 600px) {
  .footersocialcontainer img {
    width: 20px;
  }
}
