.footercontainerouter {
  font-family: "DM Serif Display", serif;
  background-image: linear-gradient(
    45deg,
    rgba(1, 2, 1, 1),
    rgba(10, 25, 14, 1),
    rgba(22, 53, 29, 1)
  );
  color: var(--text-bright);
  position: relative;
}
.footerconatiner {
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding-large) var(--padding-main);
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}
.footercontentcontainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.footerconatiner img {
  margin: 10px;
  width: 80%;
  max-width: 500px;
}

.footersocialcontainer {
  font-weight: 700;
  display: flex;
  /* gap: var(--padding-light); */
  align-items: center;
  /* justify-content: center; */
}

.footersocialcontainer img {
  width: 20px;
}

@media screen and (max-width: 600px) {
  .footerconatiner img {
    margin: 10px;
    width: 80%;
    max-width: 150px;
  }
  .footersocialcontainer img {
    width: 14px;
  }
  .footersocialcontainer {
    font-size: 10px;
  }
  .footercontainerouter {
    font-size: 8px;
  }
  .footercontentcontainer {
    font-size: 8px;
  }
}
