.footercontainerouter {
  font-family: "DM Serif Display", serif;
  background-image: linear-gradient(
    45deg,
    rgba(1, 2, 1, 1),
    rgba(10, 25, 14, 1),
    rgba(22, 53, 29, 1)
  );
  color: var(--text-bright);
  position: relative;
  border-radius: 30px 30px 0px 0px;
}
.footerconatiner {
  margin: auto;
  width: 100%;
  /* max-width: var(--max-width); */
  padding: 3rem;
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;

}
.footercontentcontainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}
.footerconatiner img {
  margin: 10px;
  width: 100%;
  /* max-width: 500px; */
}

.footersocialcontainer {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  /* gap: var(--padding-light); */
  align-items: center;
  /* justify-content: center; */
}

.footersocialcontainer img {
  width: 20px;
}

.paraText{
  font-size: 18px;
  font-weight: 400;
  font-family: Inter;

}

.socialIcon{
  cursor: pointer;
}

.socialIcon:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px var(--bg-bright);
}

@media screen and (max-width: 1300px) {
 .footerconatiner{
  padding: 2rem;
 } 
}

@media screen and (max-width: 600px) {
  
  .footerconatiner img {
    margin: 10px;
    width: 80%;
    max-width: 150px;
  }
  .footersocialcontainer img {
    width: 14px;
  }
  .footersocialcontainer {
    font-size: 14px;
  }
  .footercontainerouter {
    font-size: 8px;
  }
  .footercontentcontainer {
    font-size: 8px;
  }
  .footerconatiner{
  padding: 5px;
 } 
 .footercontentcontainer{
  margin-top: 20px;
 }
 .paraText{
  font-size: 12px;
 }
 #address{
  margin-top: 42px;
 }
}
