html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --green-80: #40561a;
  --green-85: #1e5310;
  --green-90: #174f4f;
  --green-100: #3d462c;
  --green-110: #203300;
  --bg-bright: white;
  --bg-dark: #f3f7ff;
  --bg-blue: #2d474e;
  --bg-green-gradient: linear-gradient(
    135deg,
    #243900,
    rgba(234, 255, 198, 0.55)
  );
  --bg-green-gradient-vertical: linear-gradient(
    180deg,
    rgba(6, 36, 3, 1) 0%,
    rgba(6, 57, 11, 1) 80%,
    rgba(9, 50, 17, 1) 120%,
    rgba(2, 27, 27, 1) 150%
  );
  --bg-green-gradient-inclined: linear-gradient(
    90deg,
    rgba(211, 255, 183, 1),
    rgba(226, 255, 206, 1),
    white
  );

  --shadow-1: #293f00;
  --shadow-2: rgba(0, 0, 0, 0.25);
  --shadow-3: rgba(0, 0, 0, 0.1);
  --text-green: #515942;
  --text-black: black;
  --text-grey: grey;
  --text-extra-light: rgba(128, 128, 128, 0.5);
  --text-bright: white;
  --text-green: #349818;

  --primary-button-gradient: linear-gradient(
    180deg,
    #8efe6d,
    rgba(72, 234, 24, 0.73)
  );
  --primary-button-gradient-inverted: linear-gradient(
    90deg,
    #8efe6d,
    rgba(72, 234, 24, 0.73)
  );
  --sidebar-gradient: linear-gradient(
    135deg,
    rgba(3, 27, 27, 1),
    rgba(7, 40, 22, 1),
    rgba(7, 57, 12, 1)
  );

  --error: rgb(255, 0, 0);
  --filter: rgba(0, 0, 0, 0.1);
  --filter-dark: rgba(0, 0, 0, 0.4);

  --min-height-page: 100vh;
  --min-height-section: 600px;

  --max-width: 1100px;
  --max-width-form: 900px;
  --min-height-form: 500px;
  --max-width-card: 400px;
  --max-width-button: 320px;
  --max-width-content: 750px;

  --padding-large: 30px;
  --padding-main: 18px;
  --padding-light: 10px;
  --project-button: 240px;
  --project-button-small: 150px;
  --project-image-dimension: 250px;

  --border-radius: 20px;
  --border-radius-large: 30px;
  --border-radius-light: 10px;
  --border-radius-extra-light: 6px;
  --border-radius-big: 100px;
  --profile-pic-diameter: 200px;
  --profile-pic-small: 140px;
  --project-card-width: 280px;
  --project-card-height: 420px;
  --home-card-image: 350px;

  --image-aspect-ratio: 4/3;

  --nav-height: 80px;
  --nav-height-small: 80px;
}

body {
  font-family: Inter;
  background-image: linear-gradient(
    90deg,
    rgba(211, 255, 183, 1),
    rgba(226, 255, 206, 1),
    white
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--green-30);
  text-decoration: none;
  font-weight: 600;
}

button {
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--green-15);
}

::-webkit-scrollbar-thumb {
  background: var(--green-30);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}
