.navbarcontainer {
  width: 100%;
  height: var(--nav-height);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Fira Sans", sans-serif;
  z-index: 10;
  padding:2rem;
}
.navcontentcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.navlinkscontainer {
  display: flex;
  flex-direction: row;
  gap: var(--padding-large);
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-bright);
}

.navlink:hover {
  color: var(--text-green);
  cursor: pointer;

}

.logincontainer {
  display: flex;
  gap: var(--padding-main);
  text-wrap: nowrap;
}

.profilepiccontainer {
  position: relative;
}

.profilepiccontainer img {
  width: 3rem;
  height: 3rem;
  border-radius: var(--border-radius-big);
}

.profiledropdown {
  position: absolute;
  top: 3rem;
  right: 0px;
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-light);
  z-index: 100;
}

.profiledropdownitem {
  border-radius: var(--border-radius-light);
  padding: var(--padding-light);
  font-size: 1.5rem;
  text-align: center;
}

.profiledropdownitem:hover {
  background-color: var(--green-100);
  cursor: context-menu;
  color: var(--text-bright);
}

.mobilemenucontainer {
  display: none;
}

.menusidebarcontainer {
  display: none;
}
@media screen and (max-width: 1300px) {
.navcontentcontainer {
  margin-top: 0rem;
}
}
@media screen and (max-width: 700px) {
  .navbarcontainer{
    padding: 1rem;
  }
  .logincontainer {
    display: none;
  }
  .navlinkscontainer {
    display: none;
  }
  .mobilemenucontainer {
    display: block;
  }
  .menusidebarcontainer {
    display: block;
  }
}

.menusidebarfilter {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--filter-dark);
  z-index: 100;
}

.menusidebar {
  width: 100%;
  max-width: 320px;
  height: 100vh;
  overflow: scroll;
  background-color: var(--green-100);
  background-image: var(--sidebar-gradient);
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 200;
  animation: slide-left 0.5s;
  transform-origin: right;
}

@keyframes slide-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.sidebarlink {
  width: 100%;
  padding: var(--padding-main);
  font-size: 1.5rem;
  color: var(--text-bright);
  border-top: 1px solid var(--text-bright);
  border-bottom: 1px solid var(--text-bright);
}
.sidebarlink:hover {
  cursor: context-menu;
  background-color: var(--bg-dark);
  color: var(--text-green);
}
