@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

.proof {
    background: linear-gradient(110.65deg, #295017 -10.21%, #E1F0DA 80.45%);
    display: flex;
    flex-direction: column;
}

.proofHeader {
    margin-top: 6rem;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    font-family: "Alegreya", serif;
}

.detailsContainer {
    display: flex;
    justify-content: end;
}

.detailsContainer table {
    /* width: 30%; */
    height: 50%;
    margin-top: 4rem;
    margin-right: 4rem;
}

.detailsContainer td {
    padding: 20px 10px 20px 80px;
    font-size: 20px;
    font-weight: 600;
}

.detailsContainer td:first-child {
    text-align: right;
    white-space: nowrap;
    /* padding: 20px 40px; */
}

.detailsContainer td:last-child {
    text-align: left;
    color: #05390F;
    font-weight: 800;
}


.proofImg {
    display: flex;
    justify-content: end;
    width: 45%;
}

.proofImg img {
    /* max-width: 100%; */
    width: fit-content;
    height: auto;
    transform: translatey(-6rem);
}


.proofEnd {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 10px;
}

.proofEnd p {
    font-size: 20px;
    font-weight: 700;
    color: #0A1C0D;
    font-family: "Alegreya", serif;
}

.proofEnd img {
    background-color: transparent;
}

@media only screen and (max-width:1200px) {

    .proofImg img {
        width: 120%;
        transform: translateY(0);
    }
}

@media only screen and (max-width:1000px) {
    .proofImg img {
        width: 160%;
    }
}

@media only screen and (max-width:850px) {

    .detailsContainer {
        justify-content: center;
    }

    .detailsContainer table {
        margin-right: 0;
    }

    .proofImg {
        display: none;
    }

    .proofBG {
        background-image: url("/src/Components/Home/assets/heroBG.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }

    .proofHeader {
        font-size: 32px;
    }

    .detailsContainer td {
        font-size: 14px;
        padding: 10px;
    }


}


@media only screen and (max-width:490px) {

    .detailsContainer tr:nth-of-type(4) td:nth-of-type(2) {
        word-break: break-all;
    }



    .detailsContainer td:first-child {
        padding: 10px 10px 10px 40px;
    }

    .detailsContainer td:last-child {
        padding: 10px 40px 10px 10px;
    }
}